# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
venv/
ENV/
env/

# PyInstaller
dist/
build/
*.spec

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# variables de entorno
.env